
@{
    ViewBag.Title = "Create";
}
<div class="container mt-2">
    <h2>Create Category</h2>
    <form method="post">
        <div class="form-group">
            <label>Name</label>
            <input name="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea name="Description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label>Image</label>
            <input name="ImageURL" id="ImageURL" type="hidden" />
            <input id="imageUpload" name="Image" type="file" accept=".png, .jpg" />
        </div>
        <div class="thumb mb-2">
            <img id="categoryImage" />
        </div>
        <div class="form-group">
            <button type="submit">Save</button>
        </div>
    </form>
</div>
<script>
    $("#imageUpload").change(function () {
        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }
        $.ajax({
            type: "POST",
            url: "/Share/UploadImage",
            data: formData,
            contentType: false,
            processData: false,
            dataType: 'json'
        })
            .done(function (response) {
                debugger;
                console.log(response);
                if (response.Success) {
                    $('#categoryImage').attr('src', response.ImageURL);
                    $('#ImageURL').val(response.ImageURL);
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Error");
            });
    });
</script>
