@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div id="tableCategory" class="mt-4">
        @{ 
            Html.RenderAction("CategoryTable");
        }
    </div>
    <div id="actionContainer">

    </div>
</div>

<script>
    function focusActionCategory(controlTofocus) {
        $('html,body').animate({
            scrollTop: $("#" + controlTofocus).offset().top - 100
        }, 1000);
    }
</script>