@model ClothKai.Entities.Product
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form id="updateProduct">
    <input type="hidden" name="ID" value="@Model.ID" />
    <div class="form-group">
        <label class="col-form-label">Name</label>
        <input name="Name" class="form-control" value="@Model.Name" />
    </div>
    <div class="form-group">
        <label class="col-form-label">Description</label>
        <input name="Description" class="form-control" value="@Model.Description" />
    </div>
    <div class="form-group">
        <label>Price</label>
        <input name="Price" class="form-control" value="@Model.Price" />
    </div>

    <div class="form-group">
        <button type="button" id="btnUpdate">Update</button>
        <button type="button" id="btnCancle">Cancle</button>
    </div>
</form>
<script>
    $('#btnUpdate').click(function () {
        $.ajax({
            type: "POST",
            url: "/Product/Edit",
            data: $('#updateProduct').serialize()
        })
            .done(function (response) {
                $('#tableContainer').html(response);
                $('#actionContainer').html("");
                focusAction("tableContainer");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Error");
            });
    });
    $('#btnCancle').click(function () {
        $('#actionContainer').html("");
        focusAction("tableContainer");
    });
</script>

