
@{
    ViewBag.Title = "Index";
}

<!--Validate-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>

<div class="container">
    <div id="tableContainer" class="m-4">
        @{
            Html.RenderAction("TableProduct");
        }
    </div>
    <div id="actionContainer">
    </div>
</div>

<script>
    function focusAction(controlTofocus) {
        $('html,body').animate({
            scrollTop: $("#" + controlTofocus).offset().top - 100
        }, 1000);
    }
</script>
